body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #f1f1f1;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.Icon {
  width: 20px;
  height: 20px;
}

.toDoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.FormAddTodo {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FormAddTodo button {
  width: 50%;
}
